@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding-top: 50px;
}


.container.show-nav {
    transform: rotate(-26deg);
}

.circle-container {
    position: absolute;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}


.container.show-nav+nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

.container.show-nav+nav div {
    transform: translateX(7%);
    transition: transform 0.7s ease-in;
}



nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 15px;
}


nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;

}


nav ul li+li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul div,
nav ul li+li+li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
    padding-left: 50px;
    padding-right: 50px;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}


/* FOOTER */

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
}

footer p {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
}


/* SEARCH INPUT */

.search .input {
    height: 30px;
    width: 40px;
    transition: width 0.3s ease;
}

.btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 165px;
    border: none;
}

.search.active .btn {
    transform: translateX(166px);
    border: none;
}


/* MEDIA QUERY */

@media screen and (min-width: 700px) {
    nav {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 100;
    }

    nav ul {
        list-style: none;
        padding-left: 30px;
    }


    .container.show-nav+nav div {
        transform: translateX(7%);
        transition: transform 0.7s ease-in;
    }
}

@media screen and (min-width: 380px) {
    .container.show-nav {
        transform: rotate(-20deg);
    }

}